{% extends 'adminapp/admin-master.html' %}
{% load static %}
{% block content %}
<div class="pagetitle">
    <h1>General Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">General</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Default Table</h5>

                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Pets Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Types</th>
                            <th scope="col">Color</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ab in data %}
                        <tr>
                            <th scope="row">{% ab.name %}</th>
                            <td>{% ab.price %}</td>
                            <td>{% ab.types %}</td>
                            <td>{% ab.color %}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}